/* css styles */
/* styles.css */

body {
  background-color: #fdf6e3; /* light cream background */
  color: #333;
  font-size: 1.15rem;
  line-height: 1.7;
}

h1 {
  font-size: 2rem;
  color: #1a73e8;
}

h2 {
  font-size: 1.5rem;
  color: #1a73e8;
}

h3 {
  font-size: 1.5rem;
  color: #1a73e8;
}
.navbar {
  background-color: #1e3a8a !important; /* Deep blue navbar */
}

a {
  color: #e63946;
}

main.content {
  max-width: 90%;
  margin: auto;
}


nav.sidebar {
  max-width: 220px;
}
